@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.icon1 {
    margin: 40px;
}

.home-port {
    margin-left: 100px;
}

.home-port img {
    margin-left: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 50px;
    margin-top: 80px;
    margin-left: 200px;
}

.cp {
    position: absolute;
    margin-left: 245px;
    margin-top: 185px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}

.cp:hover {
    text-decoration: none;
    color: #DDDDDD;
}